


@media(min-width:576px){


    .team-lead {
        margin-bottom: 50px !important;
    }



}


@media(min-width:768px){


    header .navbar-nav li {
        text-align: center;
        background: transparent !important;
        border-bottom: 2px solid transparent;
        transition: 0.5s linear;
    }

    header .navbar-nav li:last-of-type {
        border-bottom: 2px solid transparent;
    }

    header .navbar-nav li:hover,
    header .navbar-nav li.active {
        border-bottom: 2px solid #F7CC4B;
    }

    header .navbar-nav li a {
        font-family: 'PT Sans', sans-serif;
        text-transform: uppercase;
        color: #fff !important;
        transition: 0.35s linear;
    }

    #main-menu {
        margin:  0;
    }
    header .navbar-brand {
        max-width: 120px;
    }

    .hero h2 {
        font-size: 60px;
    }

    .about {
        padding: 100px 0 !important;
    }
    
    .principles {
        padding: 100px 0 !important;
    }
}


@media(min-width:992px){

    html{
        font-size: 16px;
    }

    header .navbar-brand {
        max-width: 250px;
    }

    .hero {
        padding: 280px 0 250PX;
    }

    .section-title {
        font-size: 60px;
    }

    .pseudo {
        padding: 200px 0;
    }

    .hero:after {
        height: 90px;
    }
    .video:before {
        height: 90px;
    }

    .video:after {
        height: 90px;
    }


    .video-wrapper {
        max-width: 70%;
    }

    .team-lead {
        margin-bottom: 100px !important;
    }

    .parallax:before {
        height: 90px;
    }

    .parallax:after {
        height: 90px;
    }
    
    .portfolio:before {
        height: 90px;
    }

    .portfolio:after {
        height: 90px;
    }
    
    .achievements .achievements-wrapper {
        margin-bottom: 110px !important;
    }
}





@media(min-width:1200px){

    .hero h2 {
        font-size: 82px;
    }



}