
html{
    font-size: 14px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #B1B1B1;
}

img{
    max-width: 100%;
}
a {
    text-decoration: none;
}
.text-warning {
    color: #F7CC4B !important;
}
.text-dark {
    color: #222222 !important;
}

.section-title {
    font-size: 40px;
    font-weight: 100;
}

.pseudo {
    padding: 110px 0;
}
/**header start**/
header .navbar-brand {
    max-width: 50%;
}

header .navbar-nav li {
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #F7CC4B;
    transition: 0.5s linear;
}

header .navbar-nav li:last-of-type {
    border-bottom: none;
}

header .navbar-nav li:hover,
header .navbar-nav li.active {
    background: #F7CC4B;
}

header .navbar-nav li a {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #222222 !important;
    transition: 0.35s linear;
    font-size: 14px;
}

header .navbar-nav li:hover a,
header .navbar-nav li.active a {
    color: #fff !important;
}

.navbar-light .navbar-toggler {
    color: rgb(247, 204, 75);
    border-color: rgb(247, 204, 75);
}

header button:focus {
    outline: 1px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

#main-menu {
    margin:  0 -15px;
}
/**header end**/
/**hero section start**/
.hero {
    background-size: cover;
    background-position: center center;
    padding: 160px 0 140px;
}

.hero h2 {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 40px;
}

.hero:after {
    content: '';
    background: url('assets/bottom-right.png') no-repeat bottom center;
    background-size: 100% 100%;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
}
/**hero section end**/
/**video start**/
.video:before,
.portfolio:before {
    content: '';
    background: url('assets/top-left.png') no-repeat top center;
    background-size: 100% 100%;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
}

.video:after,
.portfolio:after {
    content: '';
    background: url('assets/bottom-right.png') no-repeat bottom center;
    background-size: 100% 100%;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
}
/**video end**/
/**team start**/
.team figure {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.team .team-hover {
    background: rgba(247, 204, 75, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
}

.team figure:hover .team-hover {
    display: block;
}

.team .team-hover nav {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.team .team-hover nav .fa {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 5px;
    transition: 0.3s linear;
}

.team .team-hover nav .fa:hover {
    background: #fff;
    color: #F7CC4B;
}
/**team end**/
/**parallax section start**/
.parallax {
    background-size: cover;
    background: fixed;
    background-position: center center;
}

.parallax:before {
    content: '';
    background: url('assets/top-right.png') no-repeat top center;
    background-size: 100% 100%;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
}

.parallax:after {
    content: '';
    background: url('assets/bottom-left.png') no-repeat bottom center;
    background-size: 100% 100%;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
}

.parallax-content {
    max-width: 573px;
}
/**parallax section end**/
/**portfolio start**/
.portfolio-hover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: none;
}

.portfolio figure:hover .portfolio-hover {
    display: block;
}

.portfolio-hover nav{
    top: 50%;
    transform: translate(0, -50%);
}

.portfolio-hover nav .fa {
    height: 48px;
    width: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #101010;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
    border-radius: 50px;
    transition: 0.3s linear;
}

.portfolio-hover nav .fa:hover {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}
/**portfolio end**/
/**achievements start**/
.achievements .achievements-item .fa {
    font-size: 60px;
    color: #000;
}

.achievements .achievements-item .big-p {
    font-size: 50px;
    line-height: 60px;
}

.achievements .achievements-bottom-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
}
/**achievements end**/

/**up to date start**/
.up-to-date .form-wrapper {
    max-width: 500px;
}

.up-to-date .form-wrapper .form-control {
    background: transparent;
    border: 2px solid #fff;
}

.up-to-date .form-wrapper input::placeholder {
    color: #fff;
}

.form-wrapper .form-control:focus {
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0 0 3px #fff inset;
}

.up-to-date:before {
    content: '';
    background: url('assets/top-right.png') no-repeat top center;
    background-size: 100% 100%;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
}
/**up to date end**/

